*{margin:0; padding:0}
body{font-family:Arial, Helvetica, sans-serif; color:#666; font-size:14px;}
.wrap{ width:960px; margin:0 auto; display:block;  background:#c7d4da;}
.fix{ overflow:hidden;}
.banner_area{ height:133px; margin-top:5px; background-image:url(../image/header.jpg)}
.float_left{ float:left;}
.float_right{ float:right;}
.menu_area{ background-color:#5a5857; height:30px; margin-top:0px;}
.main_menu{ margin-bottom:0px;}
.main_menu ul{ margin:0;padding:0; list-style:none;}
.main_menu ul li{float:left;}
.main_menu ul li a{ display:block; color:#ffffff; padding:5px 18px; text-decoration:none;  border: 1px solid scrollbar; font-weight:bold; border-right:hidden; }
.main_menu ul li a:hover{color:#000000; text-decoration:none; background-color:#DD0700;}

/*sub menu*/
.main_menu ul li ul{position:absolute; left:-99999px;z-index:10;}
.main_menu ul li:hover ul{left:30%;}
.main_menu ul li ul{background:#FFF;}
.main_menu ul li ul li{float:none; width:157px; border-bottom:1px solid #39F;border-right:0px solid; border-left:0px soli;}
.main_menu ul li ul li:last-child{border-botton:0px solid #39F} 
.main_menu ul li ul li a{background:#C00;color:#fff; padding:5px 15px;}
.main_menu ul li ul a:hover{ background:#CCCCCC;} 
.slide_doner_area{ background:url(../image/index.jpg);}
.slider_area { width:960px; height:300px; margin-bottom:2%; }
.doner_area { width:460px;}
.reg_form_area{background:#c7d4da; height:500px;}
.reg_form form{ padding-top:2%;}
label{ width:200px;text-align:right;font-size:14px;color:#000;display:inline-block;line-height:40px; margin-left:45px;}
.submit_admin {margin-left:30%; margin-top:3%}
.reset_admin{margin-right:47%; margin-top:3%}
.submit_reg {margin-right:55%; margin-top:3%}
.reset_reg{margin-left:22%; margin-top:3%}
.submit_req {margin-right:55%; margin-top:1%}
.reset_req{margin-left:26%; margin-top:1%;}

.sub{ margin-left:10%; margin-top:3%}
.reset{ margin-right:50%;margin-top:3%}
h1{ margin-top:10%; margin-left:25%; color:#C00;}
h2{ margin-top:5%; margin-left:25%; color:#C00;}
h3{font-size:20px; margin-left:35%; margin-top:2%}

.email{ margin-top:5%; margin-left:25%;}
.pass{ margin-top:5%; margin-left:25%;}


.forgot_pass{ color:#F00; margin-top:10%; margin-left:25%; padding-bottom:2%}
.registration { color:#FFF; margin-left:25%; text-decoration:none;}
.registration a{ text-decoration:none;}
.find_doner_group_area{background:url(../image/index.jpg);  width:960px; margin:0 auto; display:block; overflow:hidden; height: 200px;}
.find_doner_group{}
.current_request_area{ background:#EBECEE;width:960px; margin:0 auto; display:block; overflow:hidden;}
.current_request {height:450px;}
.footer_area{ background:#5a5857; height:20px;width:960px; margin:0 auto; display:block;}
.footer_copyright{ font-size:10px; font-style:normal;margin-left:400px; margin-top:3px; color:#cccccc}


.left{ background: none repeat scroll 0 0 #CBD5DF;
border: 1px solid #4D83C0;
border-radius: 4px;
float: left;
min-height: 43px;
padding: 10px;
width: 197px;
margin: 10px;
color: white;
font-size: 26px;
font-weight: bold;
text-align: center;
box-shadow: 5px 5px 5px #888888;

    }
	
	a{text-decoration:none;
	color:#9A0003}
.clear{
	clear:both}
	
	.item_row_requestL {
border: 1px solid #8D8484;
border-radius: 4px;
float: left;
min-height: 150px;

padding: 10px;
width: 250px;
margin:10px 20px ;
color: black;
font-size: 13px;
text-align: left;
box-shadow: 5px 5px 5px #888888;
}

.contact_area{
	background:#E7E4E4;}
	
	.goole_map{width:500px;
	background:#E7E4E4;
	overflow:hidden;
	}
	
	.contact_left{float:right;
	width:460px;
	color:#000000;
    margin-top:50px;
	}
	
.table_th{
		background:#8DACD5; color:#000000}
.show_doner_table{
	background:#c7d4da; color:#000000; text-align:center}
	
